<h1>Listing Top-Level Topics</h1>

<ul class="node-container">
  <% @nodes.each do |node| %>
    <% if (node.sources.empty?) %>
      <li>
        <%= render node, :recurse_count => 0 %>
      </li>
    <% end %>
  <% end %>
</ul>

<br />

<%= render "shared/new_node_link" %>