<h1>Listing Top-Level Topics</h1>

<ul>
  <% @nodes.each do |node| %>
    <% if (node.sources.empty?) %>
      <%= render node, :recurse_count => 0 %>
    <% end %>
  <% end %>
</ul>

<br />

<%= render "shared/new_node_link" %>