<h1>Title: <%= @topic.title %></h1>
<h4>Description: <%= @topic.description %></h4>

<% if @tree[:roots].empty? %>
  There are no posts in this topic yet.
<% else %>
  <%= traverse_node_tree(@tree[:roots]) {|n| @tree[:children][n]} %>
<% end %>

<br />

<% if permitted_to? :create, Node.new %>
  <%= render_new_node_link :topic_id => @topic.id %>
<% end %>
