<h2>About Us</h2>

<p>
We are a very early-stage startup dedicated to improving the ways in which people create, share,
discuss, improve, and adopt ideas. In so doing, we hope to enable communities (both real and
virtual) to decompose and solve bigger and more complex problems collaboratively and efficiently.
</p>

<p>
The first step in the Memecoop vision is to re-invent online discussion. Today's popular discussion
platforms, such as comment threads and forums, while powerful and useful, leave much to be desired.
These platforms are all built on a discussion model that, at its root, mirrors the physical world:
Jack said A, then Jane said B, then Billy said C. Up-voting and filtering can help trim the
conversation down to a manageable size, but at the end of the day users are still just reading a
linear dialogue.
</p>

<p>
The Memecoop approach is fundamentally different. We treat the community as a resource pool (the
human brain is still the world's most powerful technology) to be leveraged in the exploration of a
thought space. Users - guided by customized Memecoop algorithms - work together to find, evolve, and
share the very best ideas in the space. The model is intrinsically collaborative and cooperative,
and the output is better solutions to the world's problems.
</p>

<p>
We are currently hard at work building our initial release of the Memecoop platform. Until then,
feel free to read some of our ideas on our <%= link_to "blog", "http://blog.memecoop.com/blog/" %>,
or <%= link_to "contact us", "mailto:info@memecoop.com" %> directly.
</p>

<h3>Why "Memecoop"?</h3>

<p>
Much of the philosophy and design of this project is derived from a recently blossoming branch of
science called <%= link_to "memetics", "http://en.wikipedia.org/wiki/Memetics" %>, the study of the
evolution of ideas. A "meme" is the basic unit of memetics: that which is copied from brain to
brain. Since we're building a platform for memes to be bred more efficiently, we liked the metaphor
of thinking of them as eggs being incubated in a chicken coop. Technically, it's also short for the
Memetics Cooperative, but we prefer to keep things informal :)
</p>
