<h2>
  Welcome to the Memecoop alpha site!
</h2>

<p>
  Everything is still very rough, from the layout to the colors to the functionality. There are
  probably some bugs, and we make no guarantees about uptime or loss of data. But if you're willing
  to help us play around, we'd certainly appreciate it!
</p>

<p>
  To start a discussion on a new topic, use the link below.
</p>

<p>
  You can also browse the <%= link_to "list of top-level topics", nodes_path %> being discussed.
<p>

<%= render "shared/new_node_link" %>