<h2>
  Welcome to the Memecoop alpha site!
</h2>

<p>
  Everything is still very rough, from the layout to the colors to the functionality. There are
  probably some bugs, and we make no guarantees about uptime or loss of data. But if you're willing
  to help us play around, we'd certainly appreciate it!
</p>

<p>
  To get started, browse <%= link_to "all current discussions", nodes_path %> or use the link below
  to start a new one.
<p>

<%= render "shared/new_node_link" %>