<h2>
  Welcome to the Memecoop (pre-)alpha!
</h2>

<p>
  We have a lot of work left to do before this is ready for the public, but you can help us now
  by playing with the site and providing feedback. We apologize in advance when (not if) you hit
  bugs, and we sincerely appreciate your patience while we keep building.
</p>

<p>
  To get started:
</p>

<ul>
  <li><%= link_to "Use Facebook", "/auth/facebook" %> to login. *</li>
  <li>Browse <%= link_to "current topics", topics_path %>.</li>
  <li>Start a <%= link_to "new topic", new_topic_path %>.</li>
</ul>

<p>
  *There's some functionality that's tied to being logged in, and we're planning to add more, so we'd prefer that you avoid browsing/posting as Anonymous.
</p>
