// Place all the styles related to the Nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.node-container {
  list-style-type: none;
}

.node {
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  margin-top: 5px;
}

.title {
  font-size: 1.5em;
  padding-right: 20px;
}

.content {
  font-size: 1.0em;
}

.category {
  font-size: 0.8em;
}

.timestamp {
  font-size: 0.8em;
}
