// Place all the styles related to the Nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.node-container {
  list-style-type: none;
}

.node {
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  margin-top: 5px;
}

.title-bar {
  background-color: #E0E0E0;
  .title {
    font-size: 1.5em;
    padding-left: 5px;
    overflow-x: hidden;
  }
}

.metadata-bar {
  background-color: #F0F0F0;
  font-size: 0.8em;
  padding: 3px 5px 3px 5px;
}

.actions {
  float: right;
  vertical-align: middle;
  margin-right: 5px;
}

.content {
  font-size: 1.0em;
  padding-top: .5em;
  margin-bottom: -1.0em;
}


