<footer>
  <nav class="round">
    <ul>
      <li><a href="http://blog.memecoop.com/about-us/">About Memecoop</a></li>
      <li><a href="http://blog.memecoop.com/posts/">Blog</a></li>
      <li><a href="mailto:info@memecoop.com">Contact</a></li>
    </ul>
  </nav>
</footer>